* {
    font-family: 'roboto', 'monospace'
}

a:link {
    text-decoration: none;
    color: #E5E7EB;
    font-weight: 400;
}

ul {
    list-style: none;
    display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 12px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.top {
    background-color: #1F2937;
    display: flex;
    gap: 12px;
    padding: 100px;
    justify-content: space-around;
}

.top-text {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}

.text {
    font-size: 18px;
    color: #E5E7EB;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.img-placeholder {
    background-color: #7393B3;
    color:#E5E7EB;
    padding: 75px 150px;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #E5E7EB; 
    padding-left: 32px;
    padding-top: 6px;
    padding-right: 32px;
    padding-bottom: 6px;
}

.body {
    margin: 50px;
    display: flex;
    flex-flow: column nowrap;
    gap: 32px;
}

.body .title {
    font-size: 36px;
    color:#1F2937;
    text-align: center;
}

.body .text {
    color:#1F2937;
}

.body-content {
    display: flex;
    gap: 16px;
    text-align: center;
}

.info-box {
    padding: 50px;
    border: 2px solid #7393B3;
    border-radius: 8px;
    margin: 16px;
}